/* Login Container */
.login-area {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    margin: 5rem auto;
   
  }
  
  /* Login Box */
  .login {
    background: #ffffff;
    padding: 40px;
    border-radius: 12px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.4);
    width: 100%;
    max-width: 300px;
    text-align: center;
  }
  
  .login-header {
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 20px;
    color: #079992;
  }
  
  .login-box {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
  
  /* Input Fields */
  .login-box label {
    text-align: left;
    font-size: 14px;
    font-weight: 500;
    color: black;
  }
  
  .login-box input {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 8px;
    margin-bottom: 15px;
    font-size: 16px;
    outline: none;
    box-sizing: border-box;
    transition: 0.3s ease-in-out;
  }
  
  .login-box input:focus {
    border-color: #079992;
    box-shadow: 0px 0px 5px rgba(7, 153, 146, 0.5);
  }
  
  /* Submit Button */
  button[type="submit"] {
    background-color:  #079992;
    color: white;
    font-size: 16px;
    font-weight: 600;
    padding: 12px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.3s ease-in-out;
  }
  
  button[type="submit"]:hover {
    background-color: #023835;
  }

  
  /* Responsive Design */
  @media (max-width: 768px) {
    .login {
      padding: 30px;
      width: 90%;
    }
  }
  
  @media (max-width: 480px) {
    .login-header {
      font-size: 20px;
    }
  
    .login-box input {
      font-size: 14px;
      padding: 10px;
    }
  
    button[type="submit"] {
      font-size: 14px;
      padding: 10px;
    }
  }
  
  /* Register Link */
  p {
    font-size: 14px;
    color: #403f3f;
  }
  
  a {
    color: #079992;
    text-decoration: none;
    font-weight: 600;
  }
  
  a:hover {
    color: #093634;
    text-decoration: underline;
  }
  
  /* Error Message */
  p[style*="color: red"] {
    font-size: 14px;
    margin-top: 10px;
  }